.main-content {
  padding-top: 2rem;
  padding-left: 4rem;
}

a {
  text-decoration: none;
}

blockquote {
  position: relative;
  padding-left: 1rem;
  border-left: 0.4rem solid #1EAEDB;
  font-size: 1.6rem;
  line-height: 1.5em;
  font-weight: 100;
  margin-left: 1rem;
}

pre {
  margin-top: 0.3125rem;
}

pre code {
  display: block;
  font-family: Consolas, Monaco, monospace;
  font-size: 10pt;
  overflow-x: auto;
  padding: 0.5em;
  scrollbar-width: thin;
  -moz-tab-size: 2;
  tab-size: 2;
  display: block;
  overflow-x: auto;
  color: #2f3337;
  background: #f6f6f6;
  padding: .5em;
}

code.language-bash {
  background: #1d1f21;
  color: #c5c8c6;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

img {
  max-width: 100%;
}

p {
  margin-top: 2rem;
  margin-bottom: .15rem;
}
